@font-face {
  font-family: "Lobster_1_4";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lobster_1_4/Lobster_1_4.eot?#iefix") format("embedded-opentype"), url("../fonts/Lobster_1_4/Lobster_1_4.woff") format("woff"), url("../fonts/Lobster_1_4/Lobster_1_4.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans_Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans_Semibold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Open_Sans/OpenSans-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans_ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype");
}
