html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

html.js .loader .loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

body {
  font-family: "OpenSans_Regular", sans-serif;
  font-weight: normal;
  font-size: 15px;
  min-width: 320px;
  position: relative;
  color: #4e525d;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  display: table;
}

.logo_top {
  display: inline-block;
  float: left;
}

.logo_top h1 {
  color: #44c0c2;
  font-size: 43px;
  padding: 30px 0px;
  line-height: 24px;
  font-family: "Lobster_1_4";
}

.nav_top {
  display: inline-block;
  float: right;
}

.nav_top ul li {
  display: inline-block;
}

.nav_top ul li a {
  color: #484c55;
  line-height: 24px;
  display: block;
  padding: 35px 20px;
  border-bottom: 3px solid #fff;
  transition: all 0.75s;
}

.nav_top ul li a:hover {
  background: #f8f9fb;
  border-bottom: 3px solid #49cbcd;
}

.slider {
  background: url(../img/banner_bg.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 566px;
}

.slider .owl-carousel {
  max-width: 1170px;
}

.slider_box {
  text-align: center;
  color: #fff;
  padding: 130px 0px;
}

.slider_box h2 {
  font-family: "OpenSans_Semibold";
  font-size: 63px;
  line-height: 24px;
  margin-bottom: 40px;
}

.slider_box p {
  font-size: 23px;
  line-height: 37px;
  margin-bottom: 45px;
}

.but_slider a {
  font-family: "OpenSans_Semibold";
  font-size: 26px;
  line-height: 24px;
  border: 3px solid #fff;
  padding: 20px 35px;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  transition: all 0.75s;
}

.but_slider a:hover {
  color: #484c55;
  background: #fff;
}

.prev_button, .next_button {
  background: url(../img/slider_button.png) no-repeat;
  width: 18px;
  height: 28px;
  display: inline-block;
  margin-top: 12px;
}

.owl-prev, .owl-next {
  background: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  top: 40%;
}

.owl-prev {
  left: -55px;
  transform: scale(-1, 1);
}

.owl-next {
  right: -55px;
}

.team_section {
  margin: 105px 0px;
}

.team_section_title {
  text-align: center;
}

.team_section_title h3 {
  color: #4e525d;
  font-size: 42px;
  line-height: 24px;
}

.team_person {
  text-align: center;
  margin-top: 135px;
  width: 20%;
  padding: 0px 25px;
  display: inline-block;
}

.team_person .team_person_img {
  width: 200px;
  height: 200px;
  background: #eeeef0;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}

.team_person_title {
  margin-top: 70px;
}

.team_person_title h4 {
  font-size: 22px;
  line-height: 24px;
  color: #4e525d;
  margin-bottom: 10px;
}

.team_person_title p {
  font-size: 14px;
  line-height: 24px;
}

.team_person_descr {
  margin-top: 35px;
}

.team_person_descr p {
  font-size: 14px;
  line-height: 26px;
}

.add_img {
  margin-top: 42%;
}

.add_img a {
  color: #f46d6d;
  font-size: 85px;
  line-height: 24px;
  font-family: "OpenSans_ExtraBold";
}

.plans_section {
  background: #f1f1f1;
  padding-top: 119px;
  padding-bottom: 100px;
}

.plans_box {
  text-align: center;
  width: 31%;
  margin-right: 30px;
  display: inline-block;
  background: #ffffff;
  border: 1px solid #ecf0f1;
  border-radius: 2pxs;
}

.plans_box .plans_box_title {
  background: #485460;
  color: #fff;
  font-size: 26px;
  line-height: 48px;
  padding: 13px 0px;
  transition: all 0.75s;
}

.plans_box ul li {
  font-size: 14px;
  line-height: 45px;
  color: #8c9299;
  border-bottom: 1px solid #ecf0f1;
}

.plans_box ul li:first-child {
  font-size: 20px;
  line-height: 48px;
  color: #485460;
  background: #f8f9fb;
  padding: 10px 0px;
}

.plans_box ul li:last-child {
  background: #f8f9fb;
  border-bottom: 0px;
  padding: 26px 0px;
}

.plans_box ul li:last-child .but_plans a {
  background: #788492;
  font-size: 17px;
  line-height: 45px;
  font-family: "OpenSans_Semibold";
  color: #fff;
  padding: 10px 50px;
  border-radius: 2px;
  transition: all 0.75s;
}

.plans_box:last-child {
  margin-right: 0px;
}

.plans_box:nth-child(even) .plans_box_title {
  background: #49cbcd;
}

.plans_box:nth-child(even) li:last-child .but_plans a {
  background: #49cbcd;
  transition: all 0.75s;
}

.plans_box:hover .plans_box_title {
  text-shadow: 1px 1px 2px black, 0 0 1em #f8f9fb;
}

.plans_box:hover .but_plans a {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.plans_box:nth-child(even):hover .plans_box_title {
  text-shadow: 1px 1px 2px black, 0 0 1em #485460;
}
