/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .owl-next {
    right: 20px;
}
.owl-prev {
    left: 20px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
 .container {
    width: 100%;
    max-width: 970px;
  }
  .slider .owl-carousel {
      width: 100%;
      max-width: 970px;
  }
  .team_section, .plans_section {
    text-align: center;
}
.team_person {
    width: 43%;
}

.plans_box {
    margin-bottom: 30px;
}
.contact_box {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}
.contact_section {
    height: 1000px;
}
.submit {
    float: none;
}
.input_holder {
    display: block;
    margin-right: 0px;
}
.text_holder textarea {
    max-width: 270px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.container {
    width: 100%;
    max-width: 750px;
  }
	.slider .owl-carousel {
      width: 100%;
      max-width: 750px;
  }
.slider_box h2 {
    font-size: 48px;
}
}
@media only screen and (max-width : 767px) {
    .mobile_menu {
        display: block;
    }
    .nav_top ul {
        display: none;
        position: absolute;
        left: 0px;
        width: 100%;
        z-index: 22222;
        background: #fff;
    }
    .nav_top ul li {
        display: block;
        text-align: center;
    }
    .nav_top ul li a {
        padding: 10px 20px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
header {
    text-align: center;
}
.container {
    width: 100%;
    max-width: 375px;
}
.slider .owl-carousel {
    width: 100%;
    box-sizing: border-box;
    max-width: 375px;
}
.team_person {
    width: 100%;
}
.plans_box {
    width: 90%;
    margin: 30px auto;
    margin-right: 0px;
}
.slider_box p {
    font-size: 18px;
}
.slider_box h2 {
    font-size: 28px;
}
.owl-prev, .owl-next {
    top: 90%;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .slider .owl-carousel {
        max-width: 320px;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}